html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.el-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .el-menu-item {
    border-radius: 4px;

    &.is-active {
      background-color: var(--el-color-primary);
    }
  }
}


.el-form {
  .el-form-item {
    .el-form-item__label {
      color: var(--el-text-color-primary);
    }
  }
}

.el-button {
  &.is-plain {
    border: 1px solid var(--el-color-primary);
    color: var(--el-color-primary);
  }
}
