@use './costom/scrollbar';

:root {
  --el-text-color-primary: var(--app-text-emphasis);
  --el-text-color-regular: var(--app-text-sub-emphasis);
  --el-border-color: var(--app-border-regular);
  --el-bg-color: var(--app-bg-main-white);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

html {
  background-color: var(--app-bg-main-white);
  color: var(--app-text-emphasis);
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.el-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .el-menu-item {
    border-radius: 4px;

    &.is-active {
      background-color: var(--el-color-primary);
    }
  }
}

.el-tree {
  background-color: var(--app-bg-main-white) !important;
}


.el-form {
  .el-form-item {
    .el-form-item__label {
      color: var(--el-text-color-primary);
    }
  }
}

.el-button {
  &.is-plain {
    border: 1px solid var(--el-color-primary);
    color: var(--el-color-primary);
    &:hover {
      background-color: var(--el-color-primary-light-9);
      outline: none;
    }
  }
}


.el-dialog {

  .el-dialog__header {
    &:not(.show-close) {
      padding-right: 0;
    }

    .el-dialog__title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 26.4px;
    }
  }
}


.el-form {
  &--large {
    .el-form-item {
      .el-form-item__label {
        font-size: 16px;
      }
    }
  }
}

.el-button {
  &--large {
    font-size: 16px!important;
  }
}

.el-overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

// .el-select-dropdown {

//   // .is-focusable {
//   //   .el-select-dropdown__item {
//   //     color: #fff;
//   //   }
//   // }

//   .el-tree-node__content {
//     &:has(.el-select-dropdown__item.is-selected, .el-select-dropdown__item.is-hovering) {
//       background-color: var(--el-color-primary);
//     }

//     &:hover {
//       .el-select-dropdown__item {
//         color: #fff;
//       }
//     }

//     .el-select-dropdown__item {

//       &.is-selected,
//       &.is-hovering {
//         color: #fff;
//       }
//     }
//   }
// }
