shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false

# form： https://github.com/nuxt/nuxt/issues/12493 
# fix： https://github.com/element-plus/element-plus/issues/10979
# node-linker=hoisted
# public-hoist-pattern=*