@use "sass:map";
// Element Plus要求SCSS编译时使用实际颜色值，而不是CSS变量
// 在这里使用硬编码的颜色值，需要与theme-variables.scss中定义的--app-primary-color保持一致
$-colors: (
  'primary': (
    'base': #660874,
    // Element Plus 会根据 base 色自动生成这些颜色
    // 'light-3': #b29fc0,
    // 'light-5': #ccc1d6,
    // 'light-7': #e5e0eb,
    // 'light-8': #efeaf3,
    // 'light-9': #f7f5f9,
    // 'dark-2': #52065d,
  ),
  'success': ('base': green,
  ),
  'warning': ('base': #f9a23c,
  ),
  'danger': ('base': #ff3300,
  ),
  'error': ('base': #f56c6c,
  ),
  'info': ('base': #909399,
  ),
);

// 这些组件不需要颜色混合，可以使用CSS变量
$text-color: (
  // 失效文字
  'disabled': #C9CDD4,
);


// --el-menu-bg-color
$menu: (
  'bg-color': transparent,
  'hover-bg-color': #E9EDF7,
  'active-color': #660874,
  'item-height': 40px,
  'base-level-padding': 10px,
);

// --el-tree-node-hover-bg-color
$tree: (
  'node-content-height': 28px,
  // 'node-hover-bg-color': var(--el-color-primary),
  'text-color': #1D2129,
  'expand-icon-color': #4E5969,
);

// --el-dialog-box-shadow
$dialog: (
  'box-shadow': 5px 5px 4px 0 rgba(0, 0, 0, 0.25),
  'border-radius': 10px,
  'padding-primary': 28px,
);


// --el-messagebox-border-radius
$messagebox: (
  'box-shadow': 5px 5px 4px 0 rgba(0, 0, 0, 0.25),
  'border-radius': 10px,
  'padding-primary': 28px,
);


@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: $-colors,
  $text-color: $text-color,
  $menu: $menu,
  $tree: $tree,
  $dialog: $dialog,
  $messagebox: $messagebox,
);

@use './dark.scss';
