@use "sass:map";
$-colors: (
  'primary': ('base': rgba(102, 8, 116, 1),
  ),
  'success': ('base': green,
  ),
  'warning': ('base': #f9a23c,
  ),
  'danger': ('base': #ff3300,
  ),
  'error': ('base': #f56c6c,
  ),
  'info': ('base': #909399,
  ),
);


$text-color: (
  // 强调文字/正文标题
  'primary': #1D2129,
  // 次强调文字
  'regular': #4E5969,
  // 辅助文字
  'secondary': #909399,
  // 失效文字
  'disabled': #737680,
);

// --el-border-color
$border-color: (
  '': #C9CDD4,
);


// --el-menu-bg-color
$menu: (
  'bg-color': transparent,
  'hover-bg-color': #C9CDD4,
  'active-color': #fff,
  'item-height': 40px,
  'base-level-padding': 10px,
);

// --el-tree-node-hover-bg-color
$tree: (
  'node-content-height': 28px,
  'node-hover-bg-color': var(--el-color-primary),
  'text-color': var(--el-text-color-primary),
  'expand-icon-color': var(--el-text-color-primary),
);


@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: $-colors,
  $text-color: $text-color,
  $border-color: $border-color,
  $menu: $menu,
  $tree: $tree,
);

@use './dark.scss';
